* {
  margin: 0;
  font-weight: 100;
}
.nav {
  background: #333333;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  color: #eeedeb;
}
.logo img {
  width: 350px;
}
.nav-items ul li {
  list-style: none;
  display: inline-block;
  padding-right: 35px;
  padding-top: 10px;
}
.nav-items a:hover {
  color: #b8b8b8;
}
.nav-items a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.2s;
}

.main-text {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
  background: url(/assets/images/pexels-realtoughcandycom-11035471.jpg);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.main-page {
  background-color: #efefef;
}
.intern-heading h2 {
  font-size: 44px;
  padding-bottom: 80px;
  text-decoration: underline;
}
.internship-page {
  padding: 80px 0;
}
.container {
  display: flex;
  justify-content: space-between;
}
.cards {
  width: 300px;
  height: 70vh;
  background-color: #fff;
  text-align: center;
  border: 1px solid #808080;
  transition: 0.6s;
}
.cards:hover {
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.cards img {
  width: 300px;
  padding-bottom: 12px;
}
.cards button {
  padding: 8px 12px;
  color: #808080;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  transition: 0.5s;
  letter-spacing: 4px;
}
.cards button a {
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}
.cards button:hover {
  background: #c2c2c235;
  color: #fff;
  box-shadow: 0 0 5px #c2c2c235, 0 0 10px #c2c2c235, 0 0 20px #c2c2c235,
    0 0 30px #c2c2c235;
}
.containertwo {
  padding: 50px 0;
}
.intern-readmore {
  text-align: center;
  padding: 40px 0;
}
.intern-readmore button {
  padding: 10px 40px;
  border: none;
  transition: 0.3s;
}
.intern-readmore button:hover {
  background-color: #d2d2d2ee;
  border-radius: 20px;
}


.get-started {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #eeee;
  padding-top: 35vh;
}
.get-started h1 {
    font-size: 80px;
}
.get-started button {
    padding: 15px 40px;
    border: 1px solid #808080;
    transition: 0.3s;
}
.get-started button:hover {
    background-color: #d2d2d2ee;
}
.about-page {
    height: 100vh;
    width: 100%;
    background-color: #fff;
  display: flex;
  align-items: center;
}
.about-right button {
  padding: 15px 30px;
  border: none;
  transition: 0.3s;
}
.about-right button:hover {
    background-color: #d2d2d2ee;
}
.about-left img {
    width: 637px;
    height: 100vh;
}
.about-right {
    text-align: center;
    padding: 0 120px;
}
.about-right h1 {
    font-size: 70px;
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    background-color: #efefef;
}
.contact textarea {
    resize: none;
    background-color: #efefef;
    border: 1px solid #c2c2c2;
    text-align: center;
    transition: 0.5s;
}
.contact textarea,
.contact input{
  width: 300px;
  padding: 12px;
}
.contact form button {
    padding: 5px 20px;
    border: none;
    background-color: #e1e1e1;
    transition: 0.5s;
}
.contact form input {
    background-color: #efefef;
  border: 1px solid #c2c2c2;
  text-align: center;
  transition: 0.5s;
}
.contact form {
    text-align: center;
}
.contact-right img {
    height: 100vh;
    width: 49vw;
}
.contact form input:hover,
.contact form textarea:hover {
    background-color: #e1e1e1;
}
.contact button:hover {
    background-color: #b8b8b8;
    box-shadow: 2px 2px 15px #b8b8b8;
}
footer {
    background-color: #333333;
    padding: 0 30px;
    color: #eeedeb;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
    border-bottom: 1px solid #808080;
}
.footer-one,
.footer-two,
.footer-three {
    width: 300px;
}
.footer-top h2{
  font-size: 35px;
  padding-bottom: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.footer-top i{
  padding-left: 15px;
  padding-top: 15px;
}
.footer-top button {
    padding: 3px 10px;
    background: #000;
    transition: 0.2s;
    color: #fff;
}
.footer-two button:hover {
    background-color: #3d3d3d;
}

@media (max-width: 768px) {
    .nav-items a{
        font-size: 16px;
    }
    .nav-items ul{
      padding: 0 !important;
    }
    .nav-items ul li{
      padding-right: 6px !important;
      padding-bottom: 10px;
    }
    .nav{
      flex-direction: column;
    }
  .logo img {
    padding-top: 30px;
    width: 230px;

  }
  .main-text {
    font-size: 60px;
  }
  .about-right {
    text-align: center;
    padding: 10px 20px;
}
  .about-right p{
  text-align: justify;
  padding-bottom: 20px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    height: 150vh;
  }
  .about-page {
    flex-direction: column;
  }
  .about-left img {
    width: 100% !important;
    height: 400px !important;
  }
  .contact-right img {
    display: none;
  }
  .get-started {
    padding-top: 20vh !important;
    height: 60vh !important;
  }
  .get-started p{
    padding-bottom: 20px;
  }
  .get-started h1{
    font-size: 50px;
  }
  .contact {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 8vh;
    padding-top: 16px;
    padding-bottom: 30px;
    padding-left: 0 !important;
  }

  .get-started h1 {
    text-align: center;
  }
  .footer-top {
    flex-direction: column;
    height: 54vh !important;
    padding: 60px 0;
  }
}





.inter-page-heading{
  text-align: center;
  font-size: 77px;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #868686;
  filter: brightness(60%);
  background-image: url(/assets/internship/luca-bravo-9l_326FISzk-unsplash.jpg);
  background-size: cover;
  margin-bottom: 50px;
}

.inter-page-heading h1{
  padding-top: 25vh;
  font-weight: 900;
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px; /* Adjust spacing as needed */
  padding-top: 30px;
}



@media(max-width:768px){
  .cards{
    height: 50vh;
  }
  .inter-page-heading{
    font-size: 35px;
  }
}

.about-html-page{
  height: 70vh;
  background-image: url(/assets/images/vladimir-mokry-2dTeBxsF-Q0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.about-html-page h1{
  animation: fadeIn 1s ease-in-out forwards;
  font-size: 130px;
  padding-top: 95px;
  color: #333333;
  font-weight: 900;
}
.why-choose{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.why-choose img{
  width: 500px;
}
.container-about{
  margin: 80px;
}
.container-about h2{
  font-size: 40px;
  padding-bottom: 60px;
  padding-bottom: 10px;
}
.why-choose p{
  padding: 0 80px;
  font-size: 20px;
  color: #434343;
}
.apart-about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.apart-about-heading{
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.apart-about p{
  line-height: 2rem;
  font-size: 18px;
  padding-right: 20px;
}
.apart-about img{
  width: 50vw;
  height: 100vh;
}
.about-certificate h1{
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
span{
  color: #ffc800;
}
.about-certificate p{
  font-size: 18px;
  margin: 70px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2rem;
}
@media (max-width: 786px) {
    .why-choose{
      flex-direction: column;
    }
    .why-choose img{
      width: 350px;
    }
    .why-choose P{
      padding: 0 !important;
    }
    .apart-about{
      flex-direction: column;
    }
    .apart-about-heading h2,
    .why-choose h2,
    .about-certificate h2{
      font-size: 55px;
    }
    .apart-about img{
      width: 350px;
    }
}